<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="UsersDb" connectionString="Server=LAPTOP-872M71J4\SQLEXPRESS;Database=EcoLogiX_New;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="CertificationsDb" connectionString="Server=LAPTOP-872M71J4\SQLEXPRESS;Database=EcoLogiX_New;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="SupplyChainDataDb" connectionString="Server=LAPTOP-872M71J4\SQLEXPRESS;Database=EcoLogiX_New;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="APIToken" value="ufxgddUuJxHHx"/>
	</appSettings>
</configuration>
